<% comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= User.find_by_id(comment.user_id).name %></strong>
    </div>
    <div class="panel-body">
      <%= comment.content %>
      <% if comment.user_id == current_user.id %>
        <br><br>
        <div class="btn-group">
          <div style="display:flex">
            <div>
              <%= link_to "Edit Comment", edit_product_comment_path(comment.user_id, comment.product_id), class: "btn btn-sm btn-info" %>
            </div>
            <div style="margin-left:5px">
              <%= link_to "Delete Comment", product_comment_path(comment.user_id, comment.product_id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>