<% comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= comment.content %></strong></h3>
    </div>
  </div>
<% end %>