<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Add a comment:</h2>
  </div>
  <div class="panel-body">
    <%= simple_form_for([@product, @comment], remote: true) do |form| %>​
      <%= render 'shared/error_messages',resource: @comment %>
      <div class="field form-group">
        <%= form.text_area :content, autocomplete: "content", class: "form-control", placeholder: "Add a comment" %>
      </div>
      <div class="actions">
        <%= form.button :submit, label: 'Add Comment', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
