<% if product.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</strong>
    <% product.errors.full_messages.each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>