<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Product</h4>
  </div>
  <%= render 'form', product: @product %>
</div>
<%= link_to 'Show', @product, class: "btn btn-info" %>